.Rproj.user/
Divestment.Rproj
FFI-The-Carbon-Underground-200-2016_Public_26-July-2016_rv1.xlsx
FFI-TheCarbonUnderground200_2015_Public_28-Apr-2015.xlsx
LPF Investment Documents/
.Rproj.user
.Rhistory
lpf_fossil_fuel_report.html
lpf_fossil_fuel_report.pdf
